{% extends 'base.html' %} {% load static %} {% block content %}
<div class="modal-dialog" role="document">
    <div class="modal-content rounded-5 shadow">
        <div class="modal-header p-5 pb-4 border-bottom-0">
            {% block body %}
            <!-- <h5 class="modal-title">Modal title</h5> -->
        </div>

        <div class="modal-body p-5 pt-0">
            {% block conteudo %} {% endblock %} {% endblock %} {% block extra_body %} {% endblock %}
            <form class="">
                <!-- <div class="form-floating mb-3">
                    <input type="email" class="form-control rounded-4" id="floatingInput" placeholder="name@example.com">
                    <label for="floatingInput">Email address</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="password" class="form-control rounded-4" id="floatingPassword" placeholder="Password">
                    <label for="floatingPassword">Password</label>
                </div>
                <button class="w-100 mb-2 btn btn-lg rounded-4 btn-primary" type="submit">Sign up</button>
                <small class="text-muted">By clicking Sign up, you agree to the terms of use.</small> -->
                <hr class="my-4">
                <!--  <h2 class="fs-5 fw-bold mb-3">Or use a third-party</h2> -->

                {% if user.is_authenticated %}

                <a class="w-100 mb-2 btn btn-outline-primary rounded-4" href="{% url 'account_email' %}" type="button">
                     Mude o e-mail
                </a>
                <a class="w-100 py-2 mb-2 btn btn-outline-primary rounded-4" href="{% url 'account_logout' %}" type="submit">
                     Sair
                </a> {% else %}
                <a class="w-100 mb-2 btn btn-md rounded-4 mt-3 btn-outline-secondary" href="{% url 'account_login' %}" type="submit">
                     Entrar
                </a>
                <a class="w-100 py-2 mb-2 btn btn-outline-secondary rounded-4" href="{% url 'account_signup' %}" type="submit">
                     Inscrever-se
                </a> {% endif %}

            </form>
        </div>

    </div>
</div>
{% endblock %}