{% extends "account/base.html" %} {% load i18n %} {% block head_title %}{% trans "Signup" %}{% endblock %} {% block content %}

<div class="modal-dialog" role="document">
    <div class="modal-content rounded-5 shadow">
        <div class="modal-header p-5 pb-4 border-bottom-0">

            <!-- <h5 class="modal-title">Modal title</h5> -->
        </div>

        <div class="modal-body p-5 pt-0">
            <h1>{% trans "Sign Up" %}</h1>

            <p>{% blocktrans %}Já tem uma conta? Então por favor <a href="{{ login_url }}">Entre</a>.{% endblocktrans %}</p>

            <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
                {% csrf_token %} {{ form.as_p }} {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" /> {% endif %}
                <button class="w-100 mb-2 btn btn-lg rounded-4 btn-primary mt-3" type="submit">{% trans "Sign Up" %} &raquo;</button>
            </form>
        </div>

    </div>
</div>
{% endblock %}