asgiref==3.5.0
async-generator==1.10
attrs==21.4.0
auth==0.5.3
Authlib==1.0.1
autopep8==1.6.0
blinker==1.4
cached-property==1.5.2
cachetools==5.0.0
certifi==2021.10.8
cffi==1.15.0
charset-normalizer==2.0.12
cryptography==37.0.1
defusedxml==0.7.1
dj-database-url==0.5.0
Django==4.0.4
django-allauth==0.50.0
django-auth==0.1.9
django-environ==0.8.1
django-heroku==0.0.0
django-jet-reboot==1.3.1
django-localflavor==3.1
django-model-utils==4.2.0
django-paypal==2.0
djangorestframework==3.13.1
dnspython==2.2.1
doc==0.1.0
eventlet==0.33.0
falcon==3.1.0
feedparser==6.0.8
google-api-core==2.7.2
google-api-python-client==2.46.0
google-auth==2.6.6
google-auth-httplib2==0.1.0
googleapis-common-protos==1.56.0
greenlet==1.1.2
gunicorn==20.1.0
h11==0.13.0
httplib2==0.20.4
idna==3.3
iniconfig==1.1.1
isodate==0.6.1
lxml==4.8.0
mercadopago==2.1.0
mongoengine==0.24.1
oauthlib==3.2.0
outcome==1.1.0
packaging==21.3
Pillow==9.1.0
platformdirs==2.5.2
pluggy==1.0.0
protobuf==3.20.1
py==1.11.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycep-correios==5.0.0
pycodestyle==2.8.0
pycparser==2.21
PyJWT==2.3.0
pymongo==4.1.1
PyMySQL==1.0.2
pyOpenSSL==22.0.0
pyparsing==3.0.8
PySocks==1.7.1
pytest==7.1.2
pytest-mock==3.7.0
python-stdnum==1.17
python3-openid==3.2.0
pytz==2022.1
requests==2.27.1
requests-file==1.5.1
requests-oauthlib==1.3.1
requests-toolbelt==0.9.1
rsa==4.8
selenium==4.1.3
sgmllib3k==1.0.0
six==1.16.0
sniffio==1.2.0
sortedcontainers==2.4.0
sqlparse==0.4.2
stripe==2.74.0
toml==0.10.2
tomli==2.0.1
trio==0.20.0
trio-websocket==0.9.2
uritemplate==4.1.1
urllib3==1.26.9
Werkzeug==2.1.2
whitenoise==6.0.0
wsproto==1.1.0
zeep==4.1.0
