{% load static %}
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html lang="pt-br">
<!--==================================================== CABECALHO ===================================================-->
{% include 'cabecalho.html' %}

<body id="home-p">
    <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
    <!--====================================================HEADER===================================================-->
    {% include 'header.html' %}
    <!--==================================================== MODAL  =====================================================-->
    {% include 'modal.html' %}
    <!--====================================================CONTENT===================================================-->
    {% block content %} {% endblock content %}
    <!--==================================================== FOOTER ======================================================-->
    {% include 'footer.html' %}
    <!--==================================================== SCRIPTS  ======================================================-->
    {% include 'scripts.html' %} {% block extra_scripts %} {% endblock extra_scripts %}
</body>

</html>