{% extends 'base.html' %} {% load static %} {% block content %}
<section id="news-p1" class="news-p1">
    <div class="container">
        <div class="row">
            {% if data %} {% for brand in data %}
            <div class="col-md-3 mb-4">
                <div class="card">
                    <div class="desc-comp-offer-cont">
                        <div class="thumbnail-blogs">
                            <div class="caption">
                                <i class="fa fa-chain"></i>
                            </div>
                            <a href="/brand-product-list/{{brand.id}}"><img src="/media/{{brand.image}}" class="card-img-top" alt="{{brand.title}}" /></a>
                        </div>
                        <h3>{{brand.title}}</h3>
                        <a href="/brand-product-list/{{brand.id}}"><i class="fa fa-arrow-circle-o-right"></i> Saiba mais</a>
                    </div>
                </div>
            </div>{% endfor %} {% endif %}
        </div>
    </div>
</section>{% endblock %}