{% extends 'base.html' %} {% load static %} {% block content %}
<!--====================================================
                       HOME-P
======================================================-->
<div id="home-p" class="home-p pages-head3 text-center">
    <div class="container">
        <h1 class="wow fadeInUp" data-wow-delay="0.1s">Detalhes</h1>
    </div>
    <!--/end container-->
</div>
<hr>
<!--====================================================
                  PRODUTO UNICO FORMA GRADE
======================================================-->
<section id="single-product-p1">
    <div class="container">
        <div class="wrapper row">
            <div class="preview col-md-6">

                <div class="preview-pic tab-content">
                    <div class="tab-pane active" id="pic-1"><img id="zoom_01" data-zoom-image="/media/{{data.productattribute_set.first.image}}" src="/media/{{data.productattribute_set.first.image}}" class="card-img-top" alt="{{data.title}}"></div>

                </div>
            </div>
            <div class="details col-md-6">
                <h3 class="product-title">{{data.title}}</h3>
                <div class="rating">
                    <h6 class="my-3">Avaliações - <span class="avg-rating">{{avg_reviews.avg_rating}}</span>/5 <i class="fa fa-star text-warning"></i>

                    </h6>
                </div>
                <p class="product-description">{{data.detail}}</p>
                <h4>Preço atual:R$ <span class="price product-price-{{data.id}}"></span>{{data.productattribute_set.first.price}}</h4>
                <p class="vote"><strong>Tenha 10%</strong> ao se inscrever em nossa loja e preencher nosso cadastro <strong>(Obtenha já!!)</strong></p>
                <h6 class="sizes">Cor:
                    <span class="review-no"></span> {% for color in colors %}
                    <button class="btn btn-lg" data-color="{{color.color__id}}" style="background-color:{{color.color__color_code}}"></button> {% endfor %}
                </h6>
                <h6 class="colors">Local Vendedor:
                    <span class="review-no"></span> {% for size in sizes %}
                    <button data-price="{{size.price}}" class="btn btn-outline-secondary btn-sm choose-size color{{size.color__id}}">{{size.size__title}}</button> {% endfor %}
                </h6>
                <div class="action">
                    <div class="title-but">
                        <input type="number" value="1" class="form-control product-qty-{{data.id}}" id="productQty" />
                        <div class="input-group-append">
                            <input type="hidden" class="product-image-{{data.id}}" value="{{data.productattribute_set.first.image}}" />
                            <input type="hidden" class="product-id-{{data.id}}" value="{{data.id}}" />
                            <input type="hidden" class="product-title-{{data.id}}" value="{{data.title}}" />
                            <hr>

                            <button class="btn btn-general btn-white add-to-cart" data-index="{{data.id}}" type="button" id="addToCartBtn" role="button"><i class="fa fa-cart-plus"></i> Adicionar</button>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-md-12">
                <div class="service-h-tab">
                    <nav class="nav nav-tabs" id="myTab" role="tablist">
                        <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-expanded="true">Opiniões</a>
                        <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile">Descrição</a>
                    </nav>
                    <div class="tab-content" id="nav-tabContent">
                        <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                            <div class="col-md-6">
                                <h3 class="my-3">Avaliações - <span class="avg-rating">{{avg_reviews.avg_rating}}</span>/5 <i class="fa fa-star text-warning"></i> {% if user.is_authenticated %} {% if canAdd %}
                                    <button data-toggle="modal" data-target="#productReview" type="button" class="btn btn-warning btn-sm float-right reviewBtn">Adicione uma avaliação</button> {% endif %} {% endif %}
                                </h3>
                                {% if user.is_authenticated %}
                                <!-- Product Review -->
                                <div class="modal fade" id="productReview" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel">Adicionar avaliação do produto</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
								  <span aria-hidden="true">&times;</span>
								</button>
                                            </div>
                                            <div class="modal-body">
                                                <form method="post" id="addForm" action="{% url 'save-review' data.id %}">
                                                    {% csrf_token %}
                                                    <table class="table table-bordered">
                                                        {{reviewForm.as_table}}
                                                        <tr>
                                                            <td colspan="2">
                                                                <button type="submit" class="btn btn-primary">Enviar</button>
                                                                <input type="reset" class="btn btn-dark" value="Reset" id="reset" />
                                                            </td>
                                                        </tr>
                                                    </table>
                                                    <p class="ajaxRes"></p>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Product Review End -->
                                {% endif %}
                                </h3>
                                <div class="card">
                                    <div class="card-body review-list" style="max-height: 400px; overflow: auto;">
                                        <!-- Detail -->
                                        {% if reviews %} {% for review in reviews %}
                                        <blockquote class="blockquote text-right">
                                            <small>{{review.review_text}}</small>
                                            <footer class="blockquote-footer">{{review.user}}
                                                <cite title="Source Title">
													  {% for star in review.review_rating|ljust:review.review_rating %}
													  <i class="fa fa-star text-warning"></i>
													{% endfor %}
												  </cite>
                                            </footer>
                                        </blockquote>
                                        <hr /> {% endfor %} {% else %}
                                        <p class="no-data">Adicionar primeira avaliação</p>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                            <h3 class="my-3">Detalhes</h3>
                            <p>{{data.detail}}</p>
                            <table class="table table-bordered">
                                <tr>
                                    <th>Marcas</th>
                                    <td><a href="/lista-produto-marca/{{data.brand.id}}">{{data.brand.title}}</a></td>
                                </tr>
                                <tr>
                                    <th>Categoria</th>
                                    <td><a href="/lista-produto-categoria/{{data.category.id}}">{{data.category.title}}</a></td>
                                </tr>
                                <tr>
                                    <th>Specificação</th>
                                    <td>{{data.specs}}</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>

<!--====================================================
					  SHOP-RELACIONADOS
======================================================-->
<section id="shop-p1" class="shop-p1" style="padding-top:0px;">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="shop-p1-title">
                    <h3>Produtos Relacionados</h3>
                    <div class="heading-border-light"></div>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="row" style="padding: 0px">
                    {% for product in related %}
                    <div class="col-lg-3 col-md-6 mb-4">
                        <div class="card ">
                            <a href="/product/{{product.slug}}/{{product.id}}"><img class="card-img-top" src="/media/{{product.productattribute_set.first.image}}" class="card-img-top" alt="{{product.title}}"></a>
                            <div class="card-body text-center">
                                <div class="card-title">
                                    <a href="/product/{{product.slug}}/{{product.id}}">{{product.title}}</a>
                                </div>
                                <h6>R$ <strong class="product-price-{{data.id}}">{{data.productattribute_set.first.price}}</strong></h6>
                                <div class="cart-icon text-center">
                                    <div class="input-group-append">
                                        <input type="hidden" class="product-image-{{data.id}}" value="{{data.productattribute_set.first.image}}" />
                                        <input type="hidden" class="product-id-{{data.id}}" value="{{data.id}}" />
                                        <input type="hidden" class="product-title-{{data.id}}" value="{{data.title}}" />
                                        <button class="btn btn-primary btn-sm add-to-cart" data-index="{{data.id}}" type="button" id="addToCartBtn"><i class="fa fa-shopping-cart"></i> Adicionar ao Carrinho</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>
<!--  -->
<!--  Zoom na Imagen-->
<script src="{% static 'jquery.ez-plus.js' %}"></script>
<script type="text/javascript">
    $('#zoom_01').ezPlus();
</script>

<!-- Adicionar ao Carrinho -->
<script src="{% static 'custom.js' %}"></script>

{% endblock %}