{% load static %}
<footer>
    <div id="footer-s1" class="footer-s1">
        <div class="footer">
            <div class="container">
                <div class="row">
                    <!-- About Us -->
                    <div class="col-md-3 col-sm-6 ">
                        <div><img src="{% static 'img/logo-w.png' %}" alt="" class="img-fluid"></div>
                        <ul class="list-unstyled comp-desc-f">
                            <li>
                                <p> Peças Car é um mercado abrangente para peças de carros usados com uma rede nacional de instalações. Oferecemos uma grande seleção de peças de alta qualidade a preços competitivos no mercado</p>
                            </li>
                        </ul><br>
                    </div>
                    <!-- End About Us -->
                    <!-- Recent News -->
                    <div class="col-md-3 col-sm-6 ">
                        <div class="heading-footer">
                            <h2>Empresa</h2>
                        </div>
                        <ul class="list-unstyled link-list">
                            <li><a href="about.html">Sobre nós</a><i class="fa fa-angle-right"></i></li>
                            <li><a href="project.html">Projeto</a><i class="fa fa-angle-right"></i></li>
                            <li><a href="careers.html">Carreira</a><i class="fa fa-angle-right"></i></li>
                            <li><a href="faq.html">Perguntas frequentes</a><i class="fa fa-angle-right"></i></li>
                            <li><a href="">Contate-Nos</a><i class="fa fa-angle-right"></i></li>
                        </ul>
                    </div>
                    <!-- End Recent list -->
                    <!-- Recent Blog Entries -->
                    <div class="col-md-3 col-sm-6 ">
                        <div class="heading-footer">
                            <h2>Postagens recentes</h2>
                        </div>
                        <ul class="list-unstyled thumb-list">
                            <li>
                                <div class="overflow-h">
                                    <a href="#">É como a câmera principal.</a>
                                    <small>02 de outubro de 2020</small>
                                </div>
                            </li>
                            <li>
                                <div class="overflow-h">
                                    <a href="#">Você pode personalizar o que quiser</a>
                                    <small>02 de outubro de 2020</small>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <!-- End Recent Blog Entries -->
                    <!-- Latest Tweets -->
                    <div class="col-md-3 col-sm-6">
                        <div class="heading-footer">
                            <h2>Entrar em contato</h2>
                        </div>
                        <address class="address-details-f">
                            25, Rua das flores, contagem <br>
                            Minas Gerais, BR <br>
                            Telefone: 800 123 3456 <br>
                            Fax: 800 123 3456 <br>
                            Email: <a href="mailto:contato@pecascar.com.br" class="">contato@pecascar.com.br</a>
                        </address>
                        <ul class="list-inline social-icon-f top-data">
                            <li><a href="#" target="_empty"><i
                                        class="fa top-social fa fa-facebook-official"></i></a></li>
                            <li><a href="#" target="_empty"><i class="fa top-social fa fa-instagram"></i></a></li>
                            <li><a href="#" target="_empty"><i class="fa top-social fa fa-whatsapp"></i></a></li>
                        </ul>
                    </div>
                    <!-- End Latest Tweets -->
                </div>
            </div>
            <!--/container -->
        </div>
    </div>
    <div id="footer-bottom">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div id="footer-copyrights">
                        <p>Copyrights &copy; 2021 <a href="/">Peças Car</a> Todos os Direitos Reservados. <a href="#">Política de Privacidade </a> <a href="#">Termos dos Serviços</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a href="#home-p" id="back-to-top" class="btn btn-sm btn-green btn-back-to-top smooth-scrolls hidden-sm hidden-xs" title="home" role="button"><i class="fa fa-angle-up"></i></a>
</footer>