{% extends 'base.html' %} {% load static %} {% block content %}
<!--====================================================
                       HOME-P
======================================================-->
<div id="home-p" class="home-p pages-head1 text-center">
    <div class="container">
        <h1 class="wow fadeInUp" data-wow-delay="0.1s">Businessbox Latest News</h1>
        <p>Live</p>
    </div>
    <!--/end container-->
</div>
<hr>
<!--====================================================
                        news-p1
======================================================-->
<section id="news-p1" class="news-p1">
    <div class="container">
        <div class="row">
            {% if data %} {% for cat in data %}
            <div class="col-md-3 mb-4">
                <div class="card">
                    <div class="desc-comp-offer-cont">
                        <div class="thumbnail-blogs">
                            <div class="caption">
                                <i class="fa fa-chain"></i>
                            </div>
                            <a href="/lista-produto-categoria/{{cat.id}}"><img src="/media/{{cat.image}}" class="card-img-top" alt="{{cat.titulo}}" /></a>
                        </div>
                        <h3>{{cat.titulo}}</h3>
                        <a href="/lista-produto-categoria/{{cat.id}}"><i class="fa fa-arrow-circle-o-right"></i> Saiba mais</a>
                    </div>
                </div>
            </div>{% endfor %} {% endif %}
        </div>
    </div>
</section>{% endblock %}