{% extends 'base.html' %} {% load static %} {% block content %}
<section id="shop-p1" class="shop-p1">
    <main class="container my-4">
        <h3 class="my-4 border-bottom pb-1"><span class="text-muted">Resultado da pesquisa para</span> {{request.GET.q}}</h3>
        <div class="row">
            {% for product in data %}
            <div class="col-md-3 mb-4">
                <div class="card shadow">
                    <a href="/produto/{{product.slug}}/{{product.id}}"><img src="/media/{{product.imagem}}" class="card-img-top" alt="{{product.titulo}}"></a>
                    <div class="card-body">
                        <p class="card-text"><a href="/produto/{{product.slug}}/{{product.id}}">{{product.titulo}}</a></p>
                        <h6>R$ <strong class="product-price-{{product.id}}">{{product.price}}</strong></h6>
                    </div>
                    <div class="card-footer">
                        <p>
                            <i class="fa fa-star text-warning"></i> <i class="fa fa-star text-warning"></i> <i class="fa fa-star text-warning"></i>
                        </p>
                        {{product.productattribute_set.first.color.title}}<br> {{product.productattribute_set.first.size.title}}
                        <input type="hidden" value="1" class="form-control product-qty-{{product.id}}" id="productQty" />
                        <input type="hidden" class="product-image-{{product.id}}" value="{{product.first.imagem}}" />
                        <input type="hidden" class="product-id-{{product.id}}" value="{{product.id}}" />
                        <input type="hidden" class="product-title-{{product.id}}" value="{{product.titulo}}" />
                        <div></div>
                        <button class="btn btn-general btn-white add-to-cart" data-index="{{product.id}}"><i class="fa fa-shopping-cart"></i></button> {% if user.is_authenticated %}
                        <button class="btn btn-general btn-green add-wishlist" data-product="{{product.id}}"><i class="fa fa-heart"></i></button> {% else %}
                        <button class="btn btn-general btn-green disabled"><i class="fa fa-heart"></i></button> {% endif %}

                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <p class="my-4 text-center"><a href="{% url 'lista-produtos' %}" class="btn btn-dark btn-sm">Todos Produtos <i class="fa fa-long-arrow-alt-right"></i></a></p>
    </main>
</section>
{% endblock %}

<!-- <main class="container my-4">
	
	<h3 class="my-4 border-bottom pb-1"><span class="text-muted">Resultado da pesquisa para</span> {{request.GET.q}}</h3>
	<div class="row">
    {% for product in data %}
		<div class="col-md-3 mb-4">
			<div class="card shadow">
			  <a href="/product/{{product.slug}}/{{product.id}}"><img src="/media/{{product.productattribute_set.first.image}}" class="card-img-top" alt="{{product.title}}"></a>
			  <div class="card-body">
			    <h6 class="card-text"><a href="/product/{{product.slug}}/{{product.id}}">{{product.title}}</a></h6>
			  </div>
			  <div class="card-footer">
			  	<button class="btn btn-sm btn-primary"><i class="fa fa-shopping-cart"></i></button>
			  	<button class="btn btn-sm btn-danger"><i class="fa fa-heart"></i></button>
			  	<span class="float-right">
			  		4.5/5
			  		<i class="fa fa-star text-warning"></i>
			  	</span>
			  </div>
			</div>
		</div>
    {% endfor %}
	</div>
</main>

 -->