{% load static %}

<!--Global JavaScript -->
<script type="text/javascript" src="{% static 'jquery.min.js' %}"></script>
<script src="{% static 'js/popper/popper.min.js' %}"></script>
<script src="{% static 'js/bootstrap/bootstrap.min.js' %}"></script>
<script src="{% static 'js/wow/wow.min.js' %}"></script>
<script src="{% static 'js/owl-carousel/owl.carousel.min.js' %}"></script>

<!-- Plugin JavaScript -->
<script src="{% static 'js/jquery-easing/jquery.easing.min.js' %}"></script>
<script src="{% static 'js/custon.js' %}"></script>
<script type="text/javascript" src="{% static 'product-filter.js' %}"></script>

<script type="text/javascript" src="{% static 'jquery-1.12.3.min.js' %}"></script>
<script type="text/javascript" src="{% static 'dist/autosize.min.js' %}"></script>

<!-- Add step #2 -->
<!--   <script src="https://sdk.mercadopago.com/js/v2"></script>
 <script>
     const mp = new MercadoPago('TEST-a900e669-330d-409b-bb09-0b3ca35060a0');
     // Add step #3
 </script> -->